body{
    background-color: var(--main-color);
    font-family: "Raleway";
}

header{
    background-color: var(--header-bg-color);

    width: 100%;
    height: 3.4rem;
    padding: 12px 16px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    top: 0;
    position: fixed;
    z-index: 1;
}

.login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

a[href="./src/pages/singin.html"],
a[href="#planos"]{
    color: var(--text-color);
    font-size: 12px;
    font-weight: 700;
    font-family: "Raleway";
}

a[href="#planos"]{
    background-color: var(--secundary-color);
    padding: 8px 26px;
}

.button{
    border-radius: 50px;
}

main{
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    color: var(--text-color);
    width: 100%;
    margin-top: 50px;
    background: linear-gradient(-45deg, rgb(86, 18, 91), rgb(15, 15, 16), rgb(39, 30, 110)) 0% 0% / 400% 400%;
    animation: 10s ease 0s infinite alternate none running gradient;
}

main::after {
    content: "";
    width: 100%;
    height: 250px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, var(--main-color), transparent);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding: 0 42px;
}

.img-icons{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.title{
    text-align: center;
}

.title > span{
    font-weight: lighter;
    font-size: 32px;
}

.title > h1{
    font-size: 48px;
}

.divider{
    width: 70%;
    max-width: 700px;
    height: 5px;
    background: var(--divider-bg-color);
}

.text{
    text-align: center;
}

.text > p{
    font-family: 1.25rem;
    font-family: "Quicksand";
}

.text > .offer-price{
    font-family: "Raleway";
    font-size: 40px;
    font-weight: bold;
}

.text > .offer-price > span{
    font-size: 16px;
    font-weight: 300;
}

.button.subs {
    background: var(--btn-bg-color-gradient);
}

main > .content > p{
    max-width: 300px;
    text-align: center;
    font-size: 16px;
    font-family: "Quicksand";
    color: white;
}




@media screen and (max-width: 480px) {
    header{
        flex-direction: column;
        align-items:center;

        padding: 32px 24px;
        height: 127px;
    }

    img[alt="Hbo Logo"]{
        width: 100px;
        height: 16.61px;
    }

    main{
        margin-top: 128px;
    }
}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 1140px) {
}

@media screen and (max-width: 1200px) {
}