@import url(./global.css);

body{

    font-family: "Raleway";
    background-image: url("../assets/img/background-movies-series.png");
    background-color: var(--main-color);
    background-size: cover;
    height: 100vh;
}

/* Header */
header{
    background-color: var(--header-bg-color);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 3.4rem;
    padding: 12px 16px;
    
    top: 0;
    position: fixed;
    z-index: 1;
}

.login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

a[href="./src/pages/singin.html"],
a[href="#planos"]{
    color: var(--text-color);
    font-size: 12px;
    font-weight: 700;
    font-family: "Raleway";
}

a[href="#planos"]{
    background-color: var(--tertiary-color);
    padding: 8px 26px;
}

a[href="#planos"]:hover{
    background-color: white;
    color: var(--main-color);
    transition: background 1s, color 1s;
}

.button{
    border-radius: 50px;
}

.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand", cursive;
    width: 100%;
    height: 70%;
    padding: 24px;
    color: #ffff;
}

.login-container {
    width: 100%;
    max-width: 800px;
    background-color: var(--form-bg-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px;
}

.login-title {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.25rem;
    margin-bottom: 24px;
}

.login-label {
    text-align: left;
}

.login-field {
    background: var(--form-field-bg-color);
    border: var(--form-field-border);
    border-radius: 8px;
    color: var(--text-color);
    padding: 16px;
    font-size: 1rem;
}

.login-field::placeholder {
    color: var(--form-field-placeholder);
}

.login-field:invalid {
    border-color: var(--form-field-error);
}

.login-actions {
    margin-top: 24px;
    text-align: left;
}

.login-link {
    color: var(--link-color);
    text-decoration: none;
    margin-left: 24px;
    font-weight: bold;
}

.button--gradient {
    background: var(--tertiary-color);
    color: white;
    padding: 12px 24px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
}

.button--gradient:hover {
    filter: brightness(1.1);
}


.footer {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: var(--link-color);
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 14px;
    letter-spacing: 2px;
    transition: color 0.5s;
    font-size: 0.875rem;
    text-align: center;
}

.footer:hover {
    color: var(--text-color);
}

.footer-legal {
    font-size: 0.75rem;
    margin: 16px 0;
    color: #ffff;
    margin: 0 14px;
}


.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
}

@media screen and (max-width: 480px) {
    /* Header */
    header{
        flex-direction: column;
        align-items:center;

        padding: 32px 24px;
        height: 127px;
    }

    img[alt="Hbo Logo"]{
        width: 100px;
        height: 16.61px;
    }

    body {
        height: auto;
    }

    main{
        margin-top: 120px;
    }

    .login-actions .button {
        display: block;
        margin-bottom: 24px;
    }

    .login-link {
            margin: 0;
        }

    footer{
        padding: 24px;
    }
}